
.lines {
  float: left;
  overflow: hidden;
  text-align: right;
}
.lines div {
  padding-right: 5px;
  color: #555;
}
.lines div:hover {
  color: #aaa;
  background-color: #222;
}
.lines div.lineerror {
  background-color: #000;
  color: #900;
}
